
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bid history</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet"
          th:href="@{/vendor/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet"
          th:href="@{/vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<body>

<nav class="navbar page-header" th:fragment="navbar">
    <a href="#"
       class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto"> <i
            class="fa fa-bars"></i>
    </a> <a class="navbar-brand" href="#"> <img th:src="@{/imgs/logo.jpg}"
                                                alt="logo" height="50" width="250">
</a> <a href="#" class="btn btn-link sidebar-toggle d-md-down-none"> <i
        class="fa fa-bars"></i>
</a>

    <form class="navbar-nav ml-auto" method="get" th:action="@{/item/search}">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Search" aria-label="Search" name="searchQuery">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown"><a
                class="nav-link dropdown-toggle" href="#" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img th:src="@{/imgs/avatar-1.png}" class="avatar avatar-sm"
                 alt="logo"> <span class="small ml-1 d-md-down-none"
                                   th:text="${name}"></span>
        </a>

            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">Account</div>

                <a href="#" class="dropdown-item"> <i class="fa fa-user"></i>
                    Profile
                </a> <a href="/logout" th:action="@{/logout}" class="dropdown-item">
                <i class="fa fa-lock"></i> Logout
            </a>
            </div>
        </li>
    </ul>
</nav>

<div class="main-container">
    <div class="sidebar">
        <nav class="sidebar-nav">

            <ul class="nav">
                <li class="nav-title"></li>

                <li class="nav-item"><a th:href="@{/user}" class="nav-link active"> <i
                        class="icon icon-speedometer"></i> Dashboard
                </a>
                </li>

                <li class="nav-item nav-dropdown"><a href="#"
                                                     class="nav-link nav-dropdown-toggle"> <i
                        class="icon icon-target"></i> Categories <i
                        class="fa fa-caret-left"></i>
                </a>

                                     <ul class="nav-dropdown-items">


                                            <li class="nav-item">
                                               <div class="row"   th:each="category : ${categoryList}">
                                                    <div class="col-md-8">
                                                      <a
                                                                th:href="@{'/category/' + ${category.categoryId}}"
                                                               class="nav-link"> <i class="icon icon-target" th:text="${category.categoryName}"></i><span
                                                       ></span>
                                                       </a>
                                                   </div>
                                              </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

    <div class="content">
        <div class = "w3-container">
            <table class="w3-table-all">
                <head>
                    <tr>
                        <th>ItemID</th>
                        <th>Amount</th>
                        <th>Action</th>
                        <th>UploadedBy</th>
                    </tr>
                </head>
                <tr th:each="a:${listOfBidItem}">
                    <td th:text="${a.itemId}"></td>
                    <td th:text="${a.amount}"></td>
                    <td>
                        <a th:href="@{'/bid-history/delete/'+${a.bidId}}"> <i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </table>
        </div>



    </div>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/js/carbon.js}"></script>
    <script th:src="@{/js/demo.js}"></script>
</div>
</body>
</html>
